# Ignore files and folders starting from where .gitignore is originating from
/*

# Include some root folder files
!.gitignore
!.xx4h.bash
!.gitstatus.py
!.tmux.conf

# Include bash.xx4h.d
!.bash.xx4h.d/

# handle .config folders we want to include
## enable complete .config
!.config/
## disable complete .config subree again
.config/*

## begin { .config subfolders we want to include {
!.config/tmux-powerline/
!.config/nvim/
## end } .config subfolders we want to include

